<table>
	<tr>
		<th colspan="2" style="text-align: left">Eigenschaften</th>
	</tr>
	<% @device.comment.each do |c| %>
	<tr>
		<td><%= c.name %>:</td>
		<td><%= c.text %></td>
		<td><%= link_to "edit", :controller => "comments", :action => "edit", :id => c.id%></td>
	</tr>
	<% end %>
</table>